*.so
*_wrap.c
*_wrap.o
MESCHACH_PROJECT/build
DRIVERS_PYTHON/without_comments.json
DRIVERS_PYTHON/SolApproch2D.dat
DRIVERS_PYTHON/SolApproch2D.silo
DRIVERS_PYTHON/SolApproch2D.vtk
DRIVERS_PYTHON/matrix_profile_mtx_prof.dat
DRIVERS_PYTHON/matrix_profile_mtx_prof.gnu
DRIVERS_PYTHON/nselmt_2.dat
DRIVERS_PYTHON/sol_2.dat
DRIVERS_PYTHON/the_residuals.dat
DRIVERS_PYTHON/xysomm_2.dat
MESCHACH_PROJECT/test_vogle_carbon-Info.plist
MESCHACH_PROJECT/test_vogle_cocoa-Info.plist
/test_vogle_cocoa-Info.plist
/test_vogle_carbon-Info.plist
