*.so
*_wrap.c
*_wrap.o
*.o
*.lo
MESCHACH_PROJECT/build
DRIVERS_PYTHON/without_comments.json
DRIVERS_PYTHON/SolApproch2D.dat
DRIVERS_PYTHON/SolApproch2D.silo
DRIVERS_PYTHON/SolApproch2D.vtk
DRIVERS_PYTHON/matrix_profile_mtx_prof.dat
DRIVERS_PYTHON/matrix_profile_mtx_prof.gnu
DRIVERS_PYTHON/nselmt_2.dat
DRIVERS_PYTHON/sol_2.dat
DRIVERS_PYTHON/the_residuals.dat
DRIVERS_PYTHON/xysomm_2.dat
DRIVERS_C/3D/OUTPUT_PDE_3D.dat
MESCHACH_PROJECT/test_vogle_carbon-Info.plist
MESCHACH_PROJECT/test_vogle_cocoa-Info.plist
/test_vogle_cocoa-Info.plist
/test_vogle_carbon-Info.plist
EXTERNAL_LIBS/jansson-2.13
EXTERNAL_LIBS/silo-4.10.2/
EXTERNAL_LIBS/plotutils-2.6/
EXTERNAL_LIBS/spooles/libspooles.a
EXTERNAL_LIBS/spooles/spooles.a
MESCHACH_LIBSCIPLOT/LIBSCIPLOT/TEST_LIBPLOT/anim
MESCHACH_LIBSCIPLOT/LIBSCIPLOT/TEST_LIBPLOT/draw_c
MESCHACH_LIBSCIPLOT/LIBSCIPLOT/TEST_LIBPLOT/gui
MESCHACH_LIBSCIPLOT/LIBSCIPLOT/TEST_LIBSCIPLOT/test1_libsciplot
MESCHACH_LIBSCIPLOT/LIBSCIPLOT/TEST_LIBSCIPLOT/test2_libsciplot
MESCHACH_VOGLE/VOPL/EXAMPLES/cex1
MESCHACH_VOGLE/VOPL/EXAMPLES/cex1transient
MESCHACH_VOGLE/VOPL/EXAMPLES/cex2
MESCHACH_VOGLE/VOPL/EXAMPLES/cex3
MESCHACH_VOGLE/VOPL/EXAMPLES/cexcontour
