<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>1D.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>17</integer>
		</dict>
		<key>1D_TRANSIENT.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>20</integer>
		</dict>
		<key>2D.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>18</integer>
		</dict>
		<key>2D_TRANSIENT.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>21</integer>
		</dict>
		<key>3D.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>19</integer>
		</dict>
		<key>libmeschach.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
		<key>libmeschach_adds.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>4</integer>
		</dict>
		<key>libmeschach_cpgplot.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>8</integer>
		</dict>
		<key>libmeschach_ef.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>7</integer>
		</dict>
		<key>libmeschach_lapack.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>6</integer>
		</dict>
		<key>libmeschach_libsciplot.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>10</integer>
		</dict>
		<key>libmeschach_spooles.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>5</integer>
		</dict>
		<key>libmeschach_vogle.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>9</integer>
		</dict>
		<key>libsciplot.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>libvogle-2.0.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>libvopl-2.0.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>test_libsciplot.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>16</integer>
		</dict>
		<key>test_vogle.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>14</integer>
		</dict>
		<key>test_vogle_carbon.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>11</integer>
		</dict>
		<key>test_vogle_carbon_old.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>12</integer>
		</dict>
		<key>test_vogle_cocoa.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>13</integer>
		</dict>
		<key>test_vopl.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>15</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>251E82E814B8FA8A0055F7BF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>253A9FAE132B63F700EB59E7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>254456E01A8DF88800915E85</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>256911F114B1018600C00DF6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>2578204611CE717600293CB2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>2578205811CE717600293CB2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>2578208911CE717600293CB2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>257820A311CE717600293CB2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>257820F311CE717600293CB2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>2578210311CE717600293CB2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>2578211311CE717600293CB2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>2578213711CE717600293CB2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>2578215811CE717600293CB2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>2578216F11CE717600293CB2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>2578218711CE717600293CB2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>2578220B11CE717600293CB2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>2578221E11CE717600293CB2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>2578223311CE717600293CB2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>2578224611CE717700293CB2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>2578225911CE717700293CB2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>2578226C11CE717700293CB2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>2578227911CE717700293CB2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>2578228411CE717700293CB2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>259C50EA132A5D3F0070406E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>25AB55840EDC7FD800E9066B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
